@model RabbitFarmLocal.Models.WeightModel

@{
    ViewData["Title"] = "Создать взвешивание";
}


<h6>@ViewBag.Message</h6>
<hr />
<div class="modal-content">
    <div class="col-md-4">
        <form asp-action="RabWeightCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" value="@ViewBag.Date" data-date-format="yyyy-MM-dd" type="text" placeholder="yyyy-MM-dd" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => Model.RabId)
            
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
