@model RabbitFarmLocal.Models.InpRAbbitModel
@using RabbitFarmLocal.Models


    <hr />
    <div class="modal-content">
        <h4>Занести в базу нового кролика</h4>
        <div class="col-md-6 col-sm-12">
            <form asp-action="AddRabbit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RabbitId" class="control-label"></label>
                    <input asp-for="RabbitId" class="form-control" />
                    <span asp-validation-for="RabbitId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cage" class="control-label"></label>
                    <input asp-for="Cage" class="form-control" />
                    <span asp-validation-for="Cage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RabbitGender" class="control-label"></label>
                    <select asp-for="RabbitGender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                    <span asp-validation-for="RabbitGender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Breed" class="control-label"></label>
                    <input asp-for="Breed" class="form-control" />
                    <span asp-validation-for="Breed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Collor" class="control-label"></label>
                    <input asp-for="Collor" class="form-control" />
                    <span asp-validation-for="Collor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Born" class="control-label"></label>
                    <input asp-for="Born" class="form-control" />
                    <span asp-validation-for="Born" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mother" class="control-label"></label>
                    <input asp-for="Mother" class="form-control" />
                    <span asp-validation-for="Mother" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Father" class="control-label"></label>
                    <input asp-for="Father" class="form-control" />
                    <span asp-validation-for="Father" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsAlive" /> @Html.DisplayNameFor(model => model.IsAlive)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Занести нового кролика" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

   

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
