@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Кролики для разведения</h2>
    <h2>Мясо кроликов</h2>
    <h2>И другая фермерская продукция</h2>
    <h4>Наш адрес</h4>
    <p class="lead">Ленинградская область, Волосовский район, деревня Молосковицы, дом 12</p>
</div>
