<canvas id="cageImage" width="300" height="300"></canvas>
<div id="jsonString" class="d-none">@ViewBag.caJson</div>
<div id="CageHighlight" class="d-none">@ViewBag.Id</div>
<script src="/js/cageImage.js"></script>